.site.theme_dark {
  --text-color: var(--color-rose-2, #f1b2ce);
  --brand-color: var(--color-violet-1, #db00ff);
  --secondary-color: var(--color-violet-2, #ff0070);
  --secondary-color-o-40: var(--color-violet-2-o-40, #ff007040);
  --accent-color: var(--color-violet-2, #ff0070);
  --highlight-color: var(--color-dark-1, #000028);

  --page-bg-color: var(--color-dark-1, #000028);
  --page-bg-image: url("../images/cover-image-dark.png");

  --rec-indicator-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-rose-2, #f1b2ce);
    --brand-color: var(--color-violet-1, #db00ff);
    --secondary-color: var(--color-violet-2, #ff0070);
    --secondary-color-o-40: var(--color-violet-2-o-40, #ff007040);
    --accent-color: var(--color-violet-2, #ff0070);
    --highlight-color: var(--color-dark-1, #000028);

    --page-bg-color: var(--color-dark-1, #000028);
    --page-bg-image: url("../images/cover-image-dark.png");

    --rec-indicator-visibility: visible;
  }
}