.site.theme_light {
  --text-color: var(--color-dark-2, #353430);
  --accent-color: var(--color-rose-4, #ff8dcb);
  --brand-color: var(--color-rose-3, #ffc2e6);
  --highlight-color: var(--color-dark-2, #353430);
  --secondary-color: var(--color-dark-2, #353430);
  --secondary-color-o-40: var(--color-dark-2-o-40, #35343040);

  --page-bg-color: var(--color-rose-1, #fff1f7);
  --page-bg-image: url("../images/cover-image-light.png");

  --rec-indicator-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--color-dark-2, #353430);
    --accent-color: var(--color-rose-4, #ff8dcb);
    --brand-color: var(--color-rose-3, #ffc2e6);
    --highlight-color: var(--color-dark-2, #353430);
    --secondary-color: var(--color-dark-2, #353430);
    --secondary-color-o-40: var(--color-dark-2-o-40, #35343040);

    --page-bg-color: var(--color-rose-1, #fff1f7);
    --page-bg-image: url("../images/cover-image-light.png");

    --rec-indicator-visibility: hidden;
  }
}