:root {
  --color-rose-1: #fff1f7;
  --color-rose-2: #f1b2ce;
  --color-rose-3: #ffc2e6;
  --color-rose-4: #ff8dcb;

  --color-violet-1: #db00ff;
  --color-violet-2: #ff0070;
  --color-violet-2-o-40: #ff007040;

  --color-dark-1: #000028;
  --color-dark-2: #353430;
  --color-dark-2-o-40: #35343040;

  --text-color: var(--color-rose-2, #f1b2ce);
  --brand-color: var(--color-violet-1, #db00ff);
  --secondary-color: var(--color-violet-2, #ff0070);
  --secondary-color-o-40: var(--color-violet-2-o-40, #ff007040);
  --accent-color: var(--color-violet-2, #ff0070);
  --highlight-color: var(--color-dark-1, #000028);

  --page-typography: "IBM Plex mono", monospace;
  --page-bg-image: url("../images/cover-image.png");
  --page-bg-color: var(--color-dark-1, #000028);

  --rec-indicator-visibility: visible;
}